body {
    font-family: Arial, sans-serif;
    font-size: 1rem;
    background-color: #afeab2;
    
    margin: 0;
    padding: 0;
  }
  
  .quiz-area {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h1 {
    text-align: center;
  }

  
  .question-area {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  
  .question {
    margin-bottom: 20px;
    background: #fff;
    padding: 20px;
  }

  question p {
    font-weight: bold;
  }
  
  .answers {
    margin-bottom: 5px;
  }

  .answers label:not(:first-child) {
    border-top: 1px solid #e0e0e0;
  }

  .answer {
    padding: 10px 0;
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .answer input[type="radio"] {
    margin-right: 10px;
  }
  
  .submit-btn {
    display: block;
    margin: 50px auto;
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #00c306;
    color: fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #00ff0d;
  }
  
  .score {
    font-weight: bold;
    font-size: 1.4rem;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 10px;
    background: #7e8c7f;
    border-radius: 5px;
    text-align: center;
  }