body {
    font-family: Arial, sans-serif;
    font-size: 1rem;
    background-color: #afeab2;
    
    margin: 0;
    padding: 0;
  }
  
  .quiz-area {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h1 {
    text-align: center;
  }

  
  .question-area {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  
  .question {
    margin-bottom: 20px;
    background: #fff;
    padding: 20px;
  }

  question p {
    font-weight: bold;
  }
  
  .answers {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 5px;
    cursor: pointer;
  }

  
  .answer {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    cursor: pointer;
  }
  
  .answer input[type="radio"] {
    margin-right: 5px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #score {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
  }